.main-layout {
  padding-top: 10%; /* adjust this to match your Header's height */
  /* padding-bottom: 70px; */
}

@media (max-width: 1000px) {
  .main-layout {
    padding-top: 15%;
  }
}

@media (max-width: 769px) {
  .main-layout {
    padding-top: 22%;
  }
}

@media (max-width: 380px) {
  .main-layout {
    padding-top: 35%;
    padding-bottom: 0;
  }
}
