span {
  margin-bottom: -5%;
}

.dropbtn {
  /* padding-bottom: 5px; */
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

.dropbtn:hover {
  color: #f8d6fe;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* margin: 14px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  padding: 7px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f8d6fe;
}

.dropdown:hover .dropdown-content {
  display: block;
}
